//Margins

.marginBottom8{
  margin-bottom: .8rem;
}

.marginBottom16{
  margin-bottom: 1.6rem;
}

.marginBottom24{
  margin-bottom: 2.4rem;
}

.marginBottom32{
  margin-bottom: 3.2rem;
}

.marginBottom40{
  margin-bottom: 4rem;
}

.marginBottom48{
  margin-bottom: 4.8rem;
}

.marginBottom56{
  margin-bottom: 5.6rem;
}

.marginBottom88{
  margin-bottom: 8.8rem;
}


//Padding

.padding-8{
  padding: .8rem;
}

.padding-16{
  padding: 1.6rem;
}

.padding-24{
  padding: 2.4rem;
}

.padding-32{
  padding: 3.2rem;
}

.padding-40{
  padding: 4rem;
}

.padding-48{
  padding: 4.8rem;
}

.padding-56{
  padding: 5.6rem;
}