.homepageLayout{
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  width: 100vw;

  .homepageLayout__column{
    padding: 36rem 4.8rem 16em 4.8rem;
  }

  @media only screen and (min-width: 768px) {
    .homepageLayout__column{
      padding: 64rem 4.8rem 16rem 4.8rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    .homepageLayout__column{
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      padding: 16rem 0;
    }
  }
}